[submodule "lib/grapheme.c3l/thirdparty/libgrapheme"]
	path = lib/grapheme.c3l/thirdparty/libgrapheme
	url = git://git.suckless.org/libgrapheme
	ignore = dirty
[submodule "lib/mini-qoi.c3l/thirdparty/mini-qoi"]
	path = lib/mini-qoi.c3l/thirdparty/mini-qoi
	url = https://github.com/shraiwi/mini-qoi
	ignore = dirty
[submodule "lib/schrift.c3l/thirdparty/libschrift"]
	path = lib/schrift.c3l/thirdparty/libschrift
	url = https://github.com/tomolt/libschrift
	ignore = dirty
[submodule "lib/sdl3.c3l"]
	path = lib/sdl3.c3l
	url = https://git.alemauri.eu/alema/sdl3.c3l
	ignore = dirty
[submodule "lib/vendor"]
	path = lib/vendor
	url = https://github.com/c3lang/vendor
	ignore = dirty
