[submodule "lib/schrift.c3l/thirdparty/libschrift"]
	path = lib/schrift.c3l/thirdparty/libschrift
	url = https://github.com/tomolt/libschrift
	ignore = dirty
[submodule "lib/sdl3.c3l"]
	path = lib/sdl3.c3l
	url = https://git.alemauri.eu/alema/sdl3.c3l
	ignore = dirty
[submodule "lib/vendor"]
	path = lib/vendor
	url = https://github.com/c3lang/vendor
	ignore = dirty
[submodule "lib/ugui_sdl.c3l"]
	path = lib/ugui_sdl.c3l
	url = https://git.alemauri.eu/alema/ugui_sdl.c3l.git
