default {
	bg: #282828ff;
	fg: #fbf1c7ff;
	primary: #cc241dff;
	secondary: #458588ff;
	accent: #fabd2fff;
	border: 0;
	padding: 0;
	margin: 0;
}

button {
	margin: 2;
	border: 2;
	padding: 2;
	radius: 10;
	size: 32;

	bg: #3c3836ff;
	fg: #fbf1c7ff;
	primary: #cc241dff;
	secondary: #458588ff;
	accent: #504945ff;
}

checkbox {
	margin: 2;
	border: 2;
	padding: 1;
	radius: 10;
	size: 16;
	bg: #3c3836ff;
	fg: #fbf1c7ff;
	primary: #cc241dff;
	secondary: #458588ff;
	accent: #fabd2fff;
}

toggle {
	margin: 2;
	border: 2;
	padding: 1;
	radius: 10;
	size: 16;
	bg: #3c3836ff;
	fg: #fbf1c7ff;
	primary: #cc241dff;
	secondary: #458588ff;
	accent: #fabd2fff;
}

slider {
	margin: 2;
	padding: 2;
	border: 1;
	radius: 4;
	size: 8;
	bg: #3c3836ff;
	fg: #fbf1c7ff;
	primary: #cc241dff;
	secondary: #458588ff;
	accent: #fabd2fff;
}
