div {
	bg: #282828;
	fg: #fbf1c7ff;
	primary: #cc241dff;
	secondary: #6c19ca8f;
	accent: #fabd2fff;
	border: 1;
	padding: 0;
	margin: 0;
	radius: 0;
}

button {
	margin: 2;
	border: 2;
	padding: 2;
	radius: 10;
	size: 32;

	bg: #3c3836ff;
	fg: #fbf1c7ff;
	primary: #cc241dff;
	secondary: #458588ff;
	accent: #504945ff;
}

checkbox {
	margin: 2;
	border: 2;
	padding: 1;
	radius: 10;
	size: 20;
	bg: #3c3836ff;
	fg: #fbf1c7ff;
	primary: #cc241dff;
	secondary: #458588ff;
	accent: #fabd2fff;
}

toggle {
	margin: 2;
	border: 2;
	padding: 1;
	radius: 10;
	size: 20;
	bg: #3c3836ff;
	fg: #fbf1c7ff;
	primary: #cc241dff;
	secondary: #458588ff;
	accent: #fabd2fff;
}

slider {
	margin: 2;
	padding: 2;
	border: 1;
	radius: 4;
	size: 8;
	bg: #3c3836ff;
	fg: #fbf1c7ff;
	primary: #cc241dff;
	secondary: #458588ff;
	accent: #fabd2fff;
}

scrollbar {
	padding: 2;
	size: 8;
	bg: #45858842;
	fg: #fbf1c7ff;
	primary: #cc241dff;
	secondary: #458588ff;
	accent: #fabd2fff;
}


text-box {
	bg: #4a4543ff;
	fg: #fbf1c7ff;
	primary: #cc241dff;
	secondary: #458588ff;
	accent: #8f3f61a8;
	border: 1;
	padding: 4;
	margin: 2;
}
